.gradient-bg {
  color: transparent;
  background-image: var(--gradient-conic);
  padding: 0.6rem 0;
  background-size: 50%;
  /* background-clip: text; */
}

.gradient-bg-linear {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  /* background-clip: text; */
}
