---
layout: base
permalink: /index.html
title: 'Terms of Service Watch'
description: 'Summaries and ratings of changes to consumer terms of service agreements.'
blog:
  title: 'Highlights'
  intro: "Interesting policy changes..."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    <!-- {% svg "divider/waves", null, "divider" %} -->
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">
        Didn't read the fine print?
      </h2>
      <p>
        Curious if major changes were hidden in the update?
      </p>
      <p>
        <em>About data collection, training data, content moderation ...</em>
      </p>
      <p>
        This site tracks the user agreements that no one reads,
        helping you stay up-to-date on major platforms' data practices and content policies.
        Changes are classified against a holistic risk taxonomy from Stanford.
      </p>
      <h3>
        Why does it matter?
      </h3>
      <p>
        ToS are important for delineating acceptable use, but more importantly they
        are where platforms write out their actual commitments to internet safety.  
        <strong>As long as someone reads the contract.</strong>
      </p>
    </div>
  </article>
</div>
