---
layout: base
permalink: /index.html
title: 'Terms of Service Watch'
description: 'Summaries and ratings of changes to consumer terms of service agreements.'
blog:
  title: 'Highlights'
  intro: "Interesting policy changes..."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    <!-- {% svg "divider/waves", null, "divider" %} -->
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">
        Didn't read the fine print?
      </h2>
      <p>
        Curious if major changes were hidden in the update?
      </p>
      <p>
        <em>About data collection, training data, content moderation ...</em>
      </p>
      <p>
        This site tracks the user agreements that no one reads.
        When changes are benign, we publish it.
        When changes are sketchy, we publish it.
      </p>
      <h3>
        Why does it matter?
      </h3>
      <p>
        Across the internet, we have more choice than we think. And we have rights. 
        Companies do respond to pressure when they are called out. 
        <strong>As long as someone reads the contract.</strong>
      </p>
    </div>
  </article>
</div>
