---
title: Services
permalink: /services/index.html
layout: page
---
<article class="styleguide | wrapper flow">

    <table>
        <thead>
        <tr>
            <th>Company</th>
            <th>Latest Update</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for row in companies.companySummaries %}
        <tr>
            <td><a href="../service/{{ row.company }}">{{ row.company }}</a></td>
            <td><a href="../diff-summaries/{{ row.dataKey }}">{{ row.date }}</a></td>
            <td>{{ row.rating }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</article>


{%- css "local" -%}
  {%- include 'css/table.css' -%}
{%- endcss -%}
